body {
    width: 960px;
    margin: auto;
}

rect.frame {
    stroke: grey;
    stroke-width: 1px;
    fill: white;
    fill-opacity: 0.6;
}

circle {
    fill-opacity: 0.5;
}

circle.setosa {
    fill:darkred;
}

circle.versicolor {
    fill: darkgreen;
}

circle.virginica {
    fill: darkblue;
}

circle.setosa.notSelected,
circle.versicolor.notSelected,
circle.virginica.notSelected {
    fill: lightgrey;
}

.cell text {
    font-size: 13px;
    fill: black;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
}

.domain {
    display: none;
}

.tick line {
    stroke: lightgrey;
    stroke-width: 0.5px;
}

.tick text {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.legend text {
    font-style: italic;
}

.legend circle {
    fill-opacity: 1;
}